.header {
    background: rgba(0, 0, 0, 0.85);
    position: fixed;
    width: 100%;
    z-index: 10;

}

.header__wrap {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
}

.header__wrap img {
    height: 100%;
}

.header__list {
    display: flex;
    flex-wrap: wrap;
}

.header__list li {
    margin-right: 50px;
    font-weight: 500;
    font-size: 18px;
    line-height: 21px;
    text-transform: uppercase;
}

.li-a a {
    color: #fff;
    opacity: 0.8;
}

.li-a a:hover {
    opacity: 0.9;

}

.selected {
    opacity: 1 !important;
    font-weight: bold;
}

.header__list li:last-child {
    margin-right: 0;
}

.logo {
    width: 80px;
    padding: 3px 0 0 0;
    cursor:pointer;
}


@media (max-width: 1024px) {
    .li-a {
        font-size: 15px;
    }
}

@media (max-width: 800px) {
    .li-a {
        font-size: 12px;
    }
}