footer {
    padding: 250px 0 60px;
}

footer h2 {
    background: linear-gradient(90deg, #FF8177 0%, #FF867A 0%, #FF8C7F 21%, #F99185 52%, #CF556C 78%, #B12A5B 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    padding-bottom: 76px;
}

.footer__wrap {
    display: flex;
    justify-content: space-between;
}

.footer__title {
    padding-bottom: 20px;
    font-weight: 600;
}


.footer__box-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.footer__icons li{
    cursor: pointer;
}
.footer__list li a {
    color: #fff;

}

.footer__list li, .footer__tel {
    margin-bottom: 10px;
}

.footer__list li:last-child {
    margin-bottom: 0;
}

.footer__list, .footer__title, .footer__tel {
    font-size: 18px;
}


.footer__icons {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding-top: 20px;
}

.footer__icons li {
    margin-right: 20px;
}

.footer__icons li:last-child {
    margin-right: 0;
}


@media (max-width: 1024px) {
    footer {
        padding: 100px 0 60px;
    }
}

@media (max-width: 800px) {
    footer {
        padding: 0 0 60px;
    }
}

@media (max-width: 576px) {

    footer h2 {
        font-size: 28px;
        text-align: unset;
    }


    .footer__wrap {
        flex-wrap: wrap;
        grid-row-gap: 50px;
    }

    .footer__box {
        width: 100%;
    }

    .footer__main {
        padding: 0 20px;
    }
    .footer__icons {
        align-items: flex-end;
        justify-content: flex-start;

    }
}
